/* PAGE BACKGROUND */
.signup-page {
  min-height: 100vh;
  background: #eef6fb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

/* MAIN CARD */
.signup-card {
  width: 1150px;
  height: 620px;
  background:rgba(235, 247, 255, 1);
  border-radius: 20px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  display: flex;
  overflow: hidden;
}

/* LEFT FORM PANEL */
.signup-left {
  flex: 1;
  padding: 40px 48px;
}

/* HEADINGS */
.signup-left h1 {
  font-size: 26px;
  font-weight: 700;
  color: #111;
  text-align: center;
  margin-bottom: 4px;
}

.signup-left .subtitle {
  font-size: 15px;
  color: #0a0a0a;
  margin-bottom: 16px;
}

.mandatory {
  color: #e11d48;
  font-size: 13px;
  margin-bottom: 18px;
}

/* INPUTS */
.form-input {
  width: 100%;
  height: 44px;
  padding: 0 14px;
  border: 1px solid #cfd8e3;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.form-input:focus {
  border-color: #2563eb;
}

/* TWO COLUMN */
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

/* PHONE */
.phone-row {
  display: flex;
  gap: 10px;
}

.country-code {
  width: 90px;
  height: 44px;
  border: 1px solid #cfd8e3;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: #fff;
}

/* PASSWORD */
.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

/* TERMS */
.terms {
  display: flex;
  gap: 10px;
  font-size: 13px;
  color: #333;
  margin-top: 6px;
}

.terms span a {
  color: #2563eb;
  text-decoration: underline;
  cursor: pointer;
}

/* BUTTON */
.signup-btn {
  width: 100%;
  height: 46px;
  margin-top: 16px;
  background: #0b63a9;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.signup-btn:hover {
  background: #094f88;
}

/* SIGN IN LINK */
.signin-text {
  text-align: center;
  font-size: 14px;
  margin-top: 12px;
}

.signin-text span {
  color: #2563eb;
  cursor: pointer;
}

/* RIGHT INFO PANEL */
.signup-right {
  width: 420px;
  padding: 48px 36px;
  color: #fff;
  background: linear-gradient(180deg, #05a8e4 0%, #1e40af 100%);
}

/* RIGHT CONTENT */
.signup-right h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 16px;
}

.signup-right p {
  font-size: 15px;
  margin-bottom: 22px;
}

.signup-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.signup-right li {
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 1.5;
}

.signup-right .footer-text {
  margin-top: 22px;
  font-size: 15px;
  font-weight: 600;
}
